.tableInputField:invalid {
    border-color: rgb(238, 20, 20);
}

/* Chrome, Safari, Edge, Opera */

.tableInputField:-webkit-outer-spin-button, .tableInputField:-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

.tableInputField[type=number] {
    -moz-appearance: textfield;
}

.table {
    border-spacing: 10px;
    min-width: 350px;
}

.trow {
    height: 27px;
}

.labelCell {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.valueCell {
    padding: 0 6px;
    min-width: 250px;
}