.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    background-color: var(--primary-black);
}

.mainSubContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}