.nutritionCard{
    height: 200px;
    width: 400px;
    background-color:#d5f4e6;
    border-radius:15px ;
    align-items: center;    
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 8px #aaaaaa;
    border: 0.5px solid #BFBFBF;
}

.nutritionCardDesc{
     padding-top: 0px;
     padding-bottom:10px;
     font-size:large;
     display:flex;
     flex-direction:row ;
}

.nutritionCardList{
    padding: 5px;
}