.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    width: 90%;
    flex-grow: 1;
    min-height: 100vh;
}

.contentSubContainer {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    width: 100%;
    padding: 10px;
    align-items: center;
    position: relative;
}

.contentHeaderContainer {
    margin: 5px 0;
    width: 100%;
}

.contentHeaderContainerLinewrap {
    width: 100%;
    margin-bottom: 1rem;
}

.contentHeaderContainerLine {
    height: 4px;
    width: 30%;
    min-width: 250px;
    max-width: 350px;
    background-color: #000000;
    display: inline-block;
}

.contentHeaderContainerText {
    font-size: 3.2rem;
    text-align: left;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
}

.filterContentContainer {
    margin: 5px 0;
    height: 40px;
    width: 100%;
    display: flex;
}

.resultContentContainer {
    margin: 10px 0 0 0;
    width: 100%;
    flex-grow: 1;
}

.resultCountHead {
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.trainerListContent {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
}

.courseListItemContainer {
    padding: 10px 0;
    width: 100%;
}

.noResultsFound {}

@media screen and (max-width: 1366px) {
    .contentContainer {
        padding: 0px;
        width: 100%;
    }
    .contentHeaderContainer {
        padding: 20px;
    }
    .filterContentContainer {
        margin-left: 30px;
    }
    .resultCountHead {
        margin-left: 20px;
    }
}

@media screen and (max-width: 980px) {
    .trainerListContent {
        grid-template-columns: auto;
    }
    
    .contentHeaderContainerText {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 768px) {
    .contentHeaderContainer {
        padding: 0px;
    }
    .filterContentContainer {
        margin-left: 0px;
    }
    .resultCountHead {
        margin-left: 0px;
    }
    .trainerListContent {
        grid-template-columns: auto;
    }
    .contentHeaderContainerText {
        font-size: max(min(calc(100vw/20),2.3rem),1.5rem);
    }
    .contentHeaderContainerLine {
        width: 40%;
        min-width: 150px;
        max-width: 300px;
    }
    .filterContentContainer {
        height: 100%;
        flex-direction: column;
    }
}