.nutritionCard{
    height: 300px;
    width: 500px;
    background-color:white;
    border-color: white;
    border-radius:15px ;
    /* box-shadow: 5px 5px 8px #aaaaaa; */
    border: 1px solid #BFBFBF;
    transition: all .2s ease-in-out;
    overflow: hidden;
    
    
}

.nutritionCard:hover{
    box-shadow: 5px 5px 8px #aaaaaa;
    transform : scale(1.005);
}

.nutritionCardDesc {
     padding: 20px;
     text-align: center;
     font-size:x-large;
     font-weight: 900;
     color: #E72975;
}

.nutritionCardList{
    padding: 20px;
    text-align: justify;
    font-weight: 700;
    background-color: black;
    color: white;
}