.trainerContainer {
    height: 300px;
    width: 480px;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border: 1px solid black;
    border-radius: 18px;
    cursor: context-menu;
}

.trainerContainer .trainerCard {
    width: 240px;
    height: 100%;
    margin-right: 10px;
    border: 1px solid black;
}

.trainerimageContainer {}

.trainerimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.trainerDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;
    color: #eee
}

.trainerDetailName {
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: bold;
    align-self: center;
    padding: 6px 0;
    color: var(--secondary-color);
}

.trainerDetailList {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 30px;
    border-bottom: 1px dotted;
    border-color: var(--primary-color);
}

.trainerDetailListHead {
    font-size: 1.1rem;
    font-weight: bold;
}

.primaryButton {
    background: none;
    color: #eee;
    border-radius: 40px;
    width: max-content;
    padding: 6px 10px;
    align-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    word-break: break-word;
    border: 1px solid;
    border-color: #fff;
    overflow: hidden;
    transition: all 0.2s ease-in-out, box-shadow 2s ease-in-out;
    cursor: pointer;
}

.primaryButton:hover {
    color: #000;
    background-color: var(--primary-color);
    border-color: #000;
}

@media screen and (max-width: 480px) {
    .trainerContainer {
        flex-direction: column;
        height: 100%;
        max-width: 100vw;
        border-radius: 8px;
    }
}

@media screen and (max-width: 350px) {
    .trainerContainer {
        border-radius: 4px;
    }
}