.nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav .listItem {
    list-style-type: none;
}

.nav .leftList li {
    float: left;
}

.nav .rightList li {
    float: right;
}

.nav .listItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav .listItem a:hover {
    background-color: #111;
}