.navContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color: #000;
    min-height: 50px;
    padding: 0 20px;
}

.leftList {
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
    flex-grow: 1;
}

.rightList {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.listItemRightLanding {
    list-style-type: none;
    color: #000;
    float: right;
}

.listItemRightLanding:hover {
    font-weight: bold;
}

.listItemRightLanding a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.listItemRightGeneral {
    display: block;
    text-align: center;
    color: white;
}

.listItemRightGeneral a {
    display: block;
    color: white;
    text-align: center;
    /* padding: 10px  max(16px, calc(10px + 1vw)); */
    padding: 10px 1vw;
    text-decoration: none;
}

.listItemRightGeneral:hover {
    color: beige;
    background-color: #333;
}

.listItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.listItem a:hover {
    background-color: #111;
}

.currentPageHeadContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}

.currentPageHeadText {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.currentPageHeadText::first-letter {
    font-size: 140%;
}

@media screen and (min-width: 1200px) {
    .listItemRightGeneral a {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 840px) {
    .nav {
        padding: 0;
    }
    .listItemRightGeneral a {
        max-width: calc(60px - 2vw);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}