.profileContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.profileContentSubContainer {
    display: flex;
    flex-direction: 'row';
}

.profileContentLeftList {
    display: flex;
    flex-direction: 'column';
}

.profileContentRightList {
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: space-between;
    padding-left: 20px;
    width: 220px;
}

.profileImage {
    margin-top: 10px;
    min-height: 100px;
    max-height: 200px;
    min-width: 100px;
    max-width: 200px;
    resize: both;
}

.profileButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background: #000;
    color: #fff;
}

.workoutContentLeftList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workoutContentRightList {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: right;
    justify-content: space-between;
    padding-left: 20px;
    width: 220px;
}

.workoutImage {
    margin-top: 10px;
    min-height: 300px;
    max-height: 400px;
    min-width: 100px;
    max-width: 200px;
}