.profileContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.profileContentSubContainer {
    display: flex;
    flex-direction: 'row';
}

.profileContentLeftList {
    display: flex;
    flex-direction: 'column';
}

.profileContentRightList {
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: space-between;
    padding-left: 20px;
    width: 220px;
}

.profileImage {
    display: block;
    max-width: 200px;
    max-height: 200px;
}

.profileImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
}

.profileButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background: #000;
    color: #fff;
}

.workoutContentLeftList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workoutContentRightList {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: right;
    justify-content: space-between;
    padding-left: 20px;
    width: 220px;
}

.workoutImage {
    margin-top: 10px;
    min-height: 300px;
    max-height: 400px;
    min-width: 100px;
    max-width: 200px;
}

.profileImageEditContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    background: #ccc;
}

.profileImageEdit {
    display: block;
    border: 2px solid black;
    max-width: 200px;
    max-height: 200px;
}

.profileImageEditContainer:hover .profileImageEdit {
    opacity: 0.4;
}

.profileImageEditContainer:hover .profileImageEditIcon {
    opacity: 1;
}

.profileImageEditIcon {
    opacity: 0;
    top: 0px;
    right: 0px;
    position: absolute;
    display: block;
}