.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #333; */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 180;
    height: 300px;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 90%),url(../../assets/images/bg_4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.footerTextContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size:18;
    width: 100%;
}

.footerIconContainer{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 25px;
    max-width: 400px;
    width: 100%;
}

.iconWrapper{
    background-color: var(--secondary-color);
    border-radius: 27px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}

.iconWrapper:hover{
    scale: 1.1;
}

.pipe{
    font-size: xx-large;
}

.footerUl{
    list-style-type: none;
    line-height: 28px;
    font-size: 16px;
}

.footerUl li a {
    color: white;
}

.footerUl li a:hover {
    color: dimgray;
}

.footerLiHead {
    color: var(--secondary-color);
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 12px;
    text-underline-position: under;
}

@media screen and (max-width: 769px) {
    .footerIconContainer {
        padding: 25px;
    }
}

@media screen and (max-width: 400px) {
    .footerIconContainer {
        padding: 10px 0;
    }
    .pipe {
        display: none;
    }
    .footerTextContainer {
        flex-direction: column;
        padding: 10px 0;
    }
}