.footerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #333; */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 180;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerUl{
    list-style-type: none;
    line-height: 28px;
    font-size: 16px;
}

.footerUl li a {
    color: white;
}

.footerUl li a:hover {
    color: dimgray;
}

.footerLiHead {
    color:#E72975;
    font-size: 32px;
    /* font-style: oblique; */
    line-height: 36px;
    padding-bottom: 12px;
    text-underline-position: under;
    /* text-decoration: underline; */
}
@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .footer {
        width: 50%;
    }
}