.homepageVideoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 310px;
    background-color: white;
}

.videoContainer {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepageVideo {
    width: 100%;
}

.videoContainer:hover,
.videoContainer:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.title {
    height: 32px;
    font-size: larger;
}

.nutritionSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nutritionCardContainer {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
}

.nutritionCard{
    height: 200px;
    width: 400px;
    background-color:#d5f4e6;
    border-radius:15px ;
    align-items: center;    
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 8px #aaaaaa;
    border: 0.5px solid #BFBFBF;
}

.nutritionCardDesc{
     padding-top: 0px;
     padding-bottom:10px;
     font-size:large;
     display:flex;
     flex-direction:row ;
}

.nutritionCardList{
    padding: 5px;
}