.profileContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-color: var(--primary-black);
    color: var(--primary-white);
}

.profileContentSubContainer {
    display: flex;
    flex-direction: 'row';
}

.profileContentLeftList {
    display: flex;
    flex-direction: 'column';
}

.profileContentRightList {
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: space-between;
    padding-left: 20px;
    width: 220px;
}

.profileImage {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profileImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    overflow: hidden;
}

.profileButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background: var(--primary-black);
    color: var(--primary-white);
    border-color: var(--primary-white);
}

.button:hover {
    background: var(--primary-black);
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: bold;
}

.workoutContentLeftList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workoutContentRightList {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: right;
    justify-content: space-between;
    padding-left: 20px;
    width: 220px;
}

.workoutImage {
    margin-top: 10px;
    min-height: 300px;
    max-height: 400px;
    min-width: 100px;
    max-width: 200px;
}

.profileImageEditContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    background: #ccc;
    border-radius: 100px;
    overflow: hidden;
}

.profileImageEdit {
    display: block;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profileImageEditContainer:hover .profileImageEdit {
    opacity: 0.4;
}

.profileImageEditContainer:hover .profileImageEditIcon {
    opacity: 1;
}

.profileImageEditIcon {
    opacity: 0;
    top: 0px;
    right: 0px;
    position: absolute;
    display: block;
}

.SingleActionIcon {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: inherit;
    flex-grow: 1;
    align-self: center;
}

.IconContainer {
    padding: 5px;
    cursor: pointer;
}

.IconContainer:hover {
    background-color: #ddd;
    border-radius: 50px;
    padding: 0px;
}