.sideNavBar {
    width: 400px;
    background-color: black;
    height: 100%;
    padding: 10px;
}

.sideNavList {
    /* overflow-y: scroll; */
}

.navElement {
    padding: 7px 7px;
    font-size: x-large;
    color: #e5ce48;
    list-style-type: none;
    text-align: center;
    outline: 1px solid #e5ce48;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navElement:hover {
    padding: 6px 5px;
    background-color: #e5ce48;
    color: black;
    font-weight: bold;
}

.active {
    background-color: #e5ce48;
    color: black;
    font-weight: bold;
}

.noCourseFoundContainer {
    color: var(--primary-white);
}