.DropdownContainer {
    display: inline-flex;
    margin: 10px;
    position: relative;
    transition: .5s all;
    width: 200px;
}

.changeButton {
    font-size: 16px;
    padding: 0 4px;
    background-color: var(--primary-black);
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: inherit;
    border-radius: 3px;
}

.DropdownContent {
    font-size: 12px;
    position: absolute;
    position: relative;
    display: none;
    width: 100%;
    transition: .5s all;
}

.DropdownContainer:hover .DropdownContent {
    display: block;
    position: absolute;
    z-index: 1;
}

.DropdownList {
    display: inline-flex;
    width: 100%;
    font-size: 16px;
    vertical-align: middle;
    background-color: var(--primary-black);
    color: var(--primary-color);
    border-color: var(--primary-color);
    text-align: left;
    text-transform: capitalize;
    height: 40px;
    border: 1px;
    padding: 0 4px;
    border-style: solid;
    align-items: center;
    cursor: pointer;
    transition: .3s all;
}

.DropdownList:hover {
    display: inline-flex;
    background-color: var(--primary-color);
    color: var(--primary-black);
    border-color: var(--primary-black);
}

.DropdownListSelected {
    color: var(--tertiary-color);
    font-weight: bold;
    border-color: var(--primary-color);
}

.DropdownListSelected:hover {
    color: var(--tertiary-black);
    font-weight: bold;
    border-color: var(--primary-black);
}

@media screen and (max-width: 768px) {
    .DropdownContainer {
        width: 180px;
    }
}