.table {
    border-spacing: 10px;
    min-width: 350px;
}

/* .table td {
    min-width: 150px;
} */

.trow {
    height: 27px;
}

.labelCell {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.valueCell {
    padding: 0 6px 0 10px;
    min-width: 250px;
    color: var(--primary-white);
}